---
export interface Props {
  title: string
  body: string
  href: string
  thumbnail?: string
}

const { href, title, body, thumbnail } = Astro.props
---

<li class="rounded-md overflow-hidden shadow-md hover:shadow-xl duration-300">
  <a href={href}>
    <img src={thumbnail} alt="thumbnail" class="w-full" />
    <h2 class="p-3 font-semibold text-lg">
      {title}
      <span>&rarr;</span>
    </h2>
    <p>
      {body}
    </p>
  </a>
</li>
