---
interface Props {
  numOfPages: number
  currPage: number
}

const { numOfPages, currPage } = Astro.props
---

<div class="mt-10">
  <ul class="flex gap-2 justify-center items-center">
    <a
      href={currPage === 1
        ? null
        : currPage === 2
        ? '/'
        : `/pages/${currPage - 1}`}
      class={currPage === 1 ? 'cursor-not-allowed' : 'group'}
    >
      <span class="sr-only">Previous</span>
      <svg
        aria-hidden="true"
        class="w-6 h-6 fill-gray-800 dark:fill-gray-200 group-hover:fill-blue-500 duration-300"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          fill-rule="evenodd"
          d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
          clip-rule="evenodd"></path>
      </svg>
    </a>
    <!-- display numbers -->
    {
      new Array(numOfPages).fill(0).map((_, idx) => {
        return (
          <a
            href={idx === 0 ? '/' : `/pages/${idx + 1}`}
            class={currPage === idx + 1 ? 'text-blue-500 font-semibold' : ''}
          >
            {idx + 1}
          </a>
        )
      })
    }
    <!-- -->
    <a
      href={currPage === numOfPages ? null : `/pages/${currPage + 1}`}
      class={currPage === numOfPages ? 'cursor-not-allowed' : 'group'}
    >
      <span class="sr-only">Next</span>
      <svg
        aria-hidden="true"
        class="w-6 h-6 fill-gray-800 dark:fill-gray-200 group-hover:fill-blue-500 duration-300"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          fill-rule="evenodd"
          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
          clip-rule="evenodd"></path>
      </svg>
    </a>
  </ul>
</div>
