---
import BaseHead from '../components/BaseHead.astro'
import Footer from '../components/Footer.astro'
import Navbar from '../components/Navbar.astro'
import '../styles/global.css'

export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title={title}
      description="My personal blog"
      image="https://qu1etboy.vercel.app/static/images/qu1etboy.jpeg"
    />
  </head>
  <body class="dark:bg-neutral-900 bg-neutral-100 text-black dark:text-white">
    <main class="container max-w-3xl mx-auto">
      <Navbar />
      <slot />
      <Footer />
    </main>
  </body>
</html>
